{% extends 'table/base.html' %}
{% block content %}


  
<div class="pageholder">
    <div class="titleholder"> 
        <div class="title"><i class="fa-solid fa-table"></i> Welcome to our table application! </div>
    </div>

    <div class="linkholder">
        <div class="linkbox"> 
            <a href="{% url 'table1'%}"> Table tutorial 1 </a>
        </div>

        <div class="linkbox"> 
            <a href="{% url 'modelmultiplechoicefield'%}">  Tutorial ModelMultipleChoiceField </a>
        </div>

        <div class="linkbox"> 
            <a href="{% url 'table2'%}"> Table tutorial 2 </a>
        </div>

    </div>
</div>
{% endblock %}
