{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'table/main.css'%}">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


    <title> Table app</title>

</head>

<body>
    <div class="pageholder">
        <div class="titleholder"> 
            <div class="title"><i class="fa-solid fa-table"></i> Table from our first tutorial! </div>
        </div>

        <div class="linkholder">
           
            <table id="test" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Stadium</th>
                        <th>Capacity</th>
                        <th>Established on</th>
                        <th>Record created on</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>NAC Breda</th>
                        <th>NL</th>
                        <th>Breda</th>
                        <th>Rat Verlegh Stadion</th>
                        <th>19000</th>
                        <th>19-9-1912</th>
                        <th>28-02-2022 14:00:00</th>
                    
                    </tr>

                    <tr>
                        <th>Union Sint-Gillis</th>
                        <th>BE</th>
                        <th>Vorst</th>
                        <th>Joseph Marien Stadion</th>
                        <th>8081</th>
                        <th>01-11-1897</th>
                        <th>28-02-2022 13:30:00</th>
                    
                    </tr>

                    <tr>
                        <th>Go Ahead Eagles</th>
                        <th>NL</th>
                        <th>Deventer</th>
                        <th>De Adelaarshorst</th>
                        <th>10400</th>
                        <th>02-12-1902</th>
                        <th>27-11-2021 13:30:00</th>
                    
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
  
</body>
</html>

<script>
    $(document).ready(function() {
        $('#test').DataTable();
    } );
</script>