{% extends 'table/base.html' %}
{% block content %}
    <div class="pageholder">
        <div class="titleholder"> 
            <a class="ourbutton mr-2 ml-2" href="{% url 'home'%}"> To home</a>
            <div class="title"><i class="fa-solid fa-table"></i> Table from our first tutorial! </div> 
        </div>

        <div class="linkholder">
           
            <table id="test" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Stadium</th>
                        <th>Capacity</th>
                        <th>Established on</th>
                        <th>Record created on</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NAC Breda</td>
                        <td>NL</td>
                        <td>Breda</td>
                        <td>Rat Verlegh Stadion</td>
                        <td>19000</td>
                        <td>19-9-1912</td>
                        <td>28-02-2022 14:00:00</td>
                    
                    </tr>

                    <tr>
                        <td>Union Sint-Gillis</td>
                        <td>BE</td>
                        <td>Vorst</td>
                        <td>Joseph Marien Stadion</td>
                        <td>8081</td>
                        <td>01-11-1897</td>
                        <td>28-02-2022 13:30:00</td>
                    
                    </tr>

                    <tr>
                        <td>Go Ahead Eagles</td>
                        <td>NL</td>
                        <td>Deventer</td>
                        <td>De Adelaarshorst</td>
                        <td>10400</td>
                        <td>02-12-1902</td>
                        <td>27-11-2021 13:30:00</td>
                    
                    </tr>

                </tbody>
            </table>

        </div>
    </div>


<script>
    $(document).ready(function() {
        $('#test').DataTable();
    } );
</script>
{% endblock %}