#test_wrapper{
    width: 90% ;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

div.dataTables_filter, div.dataTables_length {
    padding: 10px;
  }

#test .odd td,
#test .even td{
    background-color: white !important;
}

table#test.display tbody tr:nth-child(even):hover td{
    background-color: #ffa !important;
    }
    
table#test.display tbody tr:nth-child(odd):hover td,
table#test.display tbody tr:nth-child(even):hover td {
background-color: rgb(224, 224, 222) !important;
}

#test{
    border-collapse: collapse;
    overflow: hidden;
    margin:0px;
    font-size: 0.9em;
    border-radius: 7px 7px 0 0;
}

#test thead{
    background-color: #4267B2;
    color: white;
  
}

#test th,
#test td {
  padding: 4px 3px;
  text-align: left;
}

#test td{
  font-size:14px;
}

#test tbody tr {
  border-bottom: 1px solid #dddddd;
}

#test tbody tr:last-of-type {
  border-bottom: 2px solid #3d70b2;
}


.pageholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleholder,
.linkholder{
    display: flex;
    margin-top: 10px;
    width: 98%;
    border-radius: 5px;
}

.titleholder{
    background-color: #4267B2;
    align-items: center;
    height: 40px;
}

.linkholder{
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    justify-content: space-around;
}

.title{
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.linkbox{
    display: flex;
    width:20%;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);


}